<h1>Get your mind refreshed!!</h1>

<%@ideas.each do |idea|%>
<div>
    <h3><%=link_to idea.title, idea%></h3>
    <p><%=idea.description%></p>
    <ul>
        <li>By: <%=idea.user.first_name%></li>
        <li>Likes: <%=idea.likers.count%></li>
    </ul>
</div>
<%end%>